@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
:root {
  --main-color: #1c2130;
  --white: #fff;
  --dark: #222;
  --soft-dark: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--main-color);
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  padding: 30px 0;
}

.container {
  padding: 0 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

.form-box form .submit-container, .form-box form .file-details,
.form-box form .error-handler, .output {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-box form .active.submit-container, .form-box form .active.file-details,
.form-box form .active.error-handler, .active.output {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999;
}

.loading:after, .loading:before {
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  height: 100%;
  background: var(--dark);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.loading:after {
  left: 0;
}

.loading:before {
  right: 0;
}

.loading.active:after {
  top: 100% !important;
}

.loading.active:before {
  top: -100%;
}

.loading.active span {
  opacity: 0;
}

.loading span {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid var(--white);
  border-style: solid dotted solid dotted;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999999999999999999999;
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loading span:after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid var(--white);
  border-style: solid dotted solid dotted;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: rotate-left 1s infinite linear;
          animation: rotate-left 1s infinite linear;
}

@-webkit-keyframes rotate-left {
  form {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}

@keyframes rotate-left {
  form {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}

.settings {
  position: fixed;
  border-radius: 5px;
  padding: 20px;
  background: var(--white);
  max-width: 213px;
  z-index: 999999;
  top: 50%;
  left: -212.77px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 5px 0px 5px var(--soft-dark);
          box-shadow: 5px 0px 5px var(--soft-dark);
}

.settings.active {
  left: 0;
}

.settings.active svg {
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}

.settings .icon {
  position: absolute;
  top: 50%;
  right: -36px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 8px;
  background: var(--white);
  font-size: 22px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  -webkit-box-shadow: 5px 0px 5px var(--soft-dark);
          box-shadow: 5px 0px 5px var(--soft-dark);
}

.settings .setting-container .option-box:not(:last-of-type) {
  margin-bottom: 20px;
}

.settings .setting-container .option-box h4 {
  color: var(--dark);
  margin-bottom: 10px;
}

.settings .setting-container .option-box ul {
  gap: 10px;
}

.settings .setting-container .option-box ul li {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.settings .setting-container .option-box ul li:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(360deg);
          transform: translate(-50%, -50%) scale(0) rotate(360deg);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.settings .setting-container .option-box ul li.active {
  width: 22px;
  height: 22px;
}

.settings .setting-container .option-box ul li.active:after {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0);
          transform: translate(-50%, -50%) scale(1) rotate(0);
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header-content {
  color: var(--white);
  margin-bottom: 40px;
}

.header-content h1 {
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.header-content p {
  width: 70%;
  line-height: 1.5;
  font-size: 15px;
}

.form-box form {
  width: 70%;
}

.form-box form select {
  text-align: center;
}

.form-box form select option {
  color: var(--dark);
  font-size: 15px;
}

.form-box form select:focus {
  outline: none;
}

.form-box form .buttons {
  gap: 30px;
  margin-bottom: 30px;
}

.form-box form .buttons label,
.form-box form .buttons button,
.form-box form .buttons select {
  display: inline-block;
  border: 1px solid var(--white);
  padding: 15px;
  color: var(--white);
  font-size: 20px;
  letter-spacing: 1px;
  background: transparent;
  border-radius: 3px;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.form-box form .buttons label:hover,
.form-box form .buttons button:hover,
.form-box form .buttons select:hover {
  -webkit-transform: perspective(100px) translateZ(5px);
          transform: perspective(100px) translateZ(5px);
}

.form-box form .file-container {
  display: none;
}

.form-box form .input-container {
  position: relative;
  height: 0;
  overflow: hidden;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-box form .input-container.active {
  height: 200px !important;
}

.form-box form .input-container span {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: var(--white);
}

.form-box form .input-container textarea {
  width: 100%;
  min-height: calc(100% - 35px);
  resize: none;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  padding: 10px;
  border-radius: 5px;
}

.form-box form .input-container textarea::-webkit-input-placeholder {
  color: var(--white);
}

.form-box form .input-container textarea:-ms-input-placeholder {
  color: var(--white);
}

.form-box form .input-container textarea::-ms-input-placeholder {
  color: var(--white);
}

.form-box form .input-container textarea::placeholder {
  color: var(--white);
}

.form-box form .input-container textarea::-webkit-scrollbar {
  width: 14px;
}

.form-box form .input-container textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--soft-dark);
          box-shadow: inset 0 0 6px var(--soft-dark);
  background: var(--white);
}

.form-box form .input-container textarea::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border: 2px solid var(--white);
}

.form-box form .input-container textarea:focus {
  outline: none;
}

.form-box form .submit-container input {
  color: var(--white);
  padding: 10px 30px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid var(--white);
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}

.form-box form .submit-container input:focus {
  outline: none;
}

.form-box form .file-details,
.form-box form .error-handler {
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 600;
}

.form-box form .file-details.active,
.form-box form .error-handler.active {
  padding: 15px;
}

.form-box form .error-handler {
  background: #ffd88a;
  color: #222;
}

.form-box form .error-handler.active {
  margin-bottom: 15px;
}

.form-box form .file-details {
  background: var(--soft-dark);
  color: #fff;
}

.form-box form .file-details.active {
  margin-bottom: 30px;
}

.form-box form .file-details .cancel-button {
  text-align: right;
}

.form-box form .file-details .cancel-button button {
  padding: 5px 10px;
  background: #f00;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.form-box form .file-details .cancel-button button:focus {
  outline: none;
}

.form-box form .file-details .cancel-button button:hover {
  -webkit-transform: perspective(100px) translateZ(5px);
          transform: perspective(100px) translateZ(5px);
}

.form-box form .file-details p {
  clear: both;
  line-height: 2;
}

@media (max-width: 370px) {
  .header-content h1 {
    font-size: 25px !important;
  }
  .header-content p {
    font-size: 14px !important;
  }
  .form-box label,
  .form-box select {
    width: 100% !important;
    text-align: center;
  }
}

.output {
  width: 70%;
}

.output .container {
  width: 100%;
}

.output .box {
  position: relative;
  padding: 30px;
  background: var(--soft-dark);
  border-radius: 5px;
}

.output .close-button {
  position: absolute;
  right: 8px;
  top: 3px;
  font-size: 30px;
  color: var(--white);
  cursor: pointer;
}

.output .content {
  width: calc(100% - 30px);
  background: var(--white);
  padding: 30px;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--dark);
  border-radius: 5px;
}

.output .content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}

.output .content p.active {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

.output .content button {
  background: transparent;
  border: none;
  color: #673ab7;
  text-decoration: underline;
  float: right;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.output .content button:hover {
  color: #3f51b5;
}

.output .content button:focus {
  outline: none;
}

.output .copy-download {
  width: calc(100% - 30px);
  padding: 25px 10px 0;
  gap: 30px;
  color: var(--white);
}

.output .copy-download a {
  color: var(--white);
}

.output .copy-download .copy,
.output .copy-download .download {
  padding: 5px 15px;
  background: #4caf50;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.output .copy-download .copy p,
.output .copy-download .download p {
  gap: 5px;
}

.output .copy-download .copy p::before,
.output .copy-download .download p::before {
  content: "\f0c5";
  font-family: "fontawesome";
}

.output .copy-download .copy.active p::before,
.output .copy-download .download.active p::before {
  content: "\f00c";
}

.output .copy-download .download {
  background: #2196f3;
}

.output .copy-download .download p::before {
  content: "\f019";
}

@media (max-width: 767px) {
  .form-box form {
    width: 100% !important;
  }
  .header-content p {
    width: 100% !important;
  }
  .output {
    width: 100%;
  }
  .output .content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .output .copy-download {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .output .copy-download .copy {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .output .copy-download .download {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
/*# sourceMappingURL=main.css.map */